
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  text-align: center;
}

.serverResponseLabelError {
  color: red;
}

label { font-weight: bold; }

.login {
	display: block;
	width: 400px;
	margin: 0 auto 0 auto;
	border: 1px solid #777 !important;
}
.login table {
	margin: 10px auto 10px auto;
}
.login input[type=text], .login input[type=password] {
	width: 200px;
}

.main {
	width: 700px;
	margin: 0 auto 0 auto;
}

.gwt-RichTextArea {
	display: block;
	width: 100%;
	margin: 0 auto 0 auto;
	border: 2px solid #777 !important;
}

.gwt-Button {
  width: 100px;
  font-weight: bold;
}

.file {
  background: url("img/file.png") 0px 0px no-repeat;
  width: 95px;
  height: 125px;
  text-transform: uppercase;
  font-weight: bold;
}

.buttonPanel {
	display: block;
	width: 100%;
	margin: 0 auto 10px auto;
	text-align: right;
}
.buttonPanel .gwt-Button {
	margin: 0 0 0 10px;
}

.filesPanel button  {
	margin: 10px 10px 10px 10px;
}

.status {
	display: block;
	width: 100%;
	margin: 0 auto 0 auto;
	text-align: center;
	font-style: italic;
	color: #777;
}

.viewNotePanel div {
	display: block;
	border: 1px solid #ccc;
	min-height: 100px;
}
.viewNotePanel iframe {
	display: none;
}
.editNotePanel div {
	display: none;
}
.editNotePanel iframe {
	display: block;
}